<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button"  ng-click="slidePage('/','modal')">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">HackerNews3</h1>
    </div>
</div>

<div class="topcoat-list__container scroller" style="top:70px;" ng-controller="HackerNews3Ctrl">
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-repeat="item in items" ng-click="loadItem(item)">
            {{item.title}}
        </li>
    </ul>
</div>

