<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h2 class="topcoat-navigation-bar__title">ProofThing2</h2>
    </div>
</div>

<div class="topcoat-list__container scroller" style="top:70px;">
    <h3 class="topcoat-list__header">Menu</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-click="slidePage('/employees')">
            Employee Directory
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewHackerNews')">
            HackerNews (3rd party data) Remote Server
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewHackerNews2')">
            HackerNews via AngularJS Restful $resource
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewHackerNews4')">
            Reading Local File
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewSendMessage')">
            Send Message Form
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewNotification')">
            Notification
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewGeolocation')">
            Geolocation
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewAcceleration')">
            Acceleration
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewDevice')">
            Device
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewCamera')">
            Camera
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewContacts')">
            Contacts
        </li>
        <li class="topcoat-list__item" ng-click="slidePage('/viewCompass')">
            Compass
        </li>
    </ul>
</div>
