<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button" ng-click="slidePage('/','modal')">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Send Message</h1>
    </div>
</div>

<div class="details pad container" ng-controller="SendMessageCtrl">
    <h4>The following is a form which accepts up to {{sendMessageMaxLen}} characters to submit.</h4>
    <h4>The remaining notification turns into a warning when filling up and errs when the message is too long.</h4>
    <h4>The send button is only enabled when text is available to send.</h4>

    <!-- <span ng-class="{'text-warning' : shouldWarn() }">Remaining: {{remaining()}}</span> -->
    <p><span ng-class="{'text-warning' : shouldWarn(), 'text-error' : shouldError() }">Remaining: {{remaining()}}</span></p>
    <div class="row">
        <textarea ng-model="sendMessageText" class="topcoat-textarea" rows="3" cols="26" placeholder="Enter Message">{{message}}</textarea>
    </div>
    <div class="row" style="margin-top: 15px;">
        <button class="topcoat-button" ng-click="send()" ng-disabled="!hasValidLength()">Send</button>
        <button class="topcoat-button" ng-click="clear()">Clear</button>
    </div>
</div>
