<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet back-button"  ng-click="slidePage('/','modal')">
            <span class="topcoat-icon topcoat-icon--menu-stack"></span>
        </a>
    </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Test Scroller</h1>
    </div>
</div>

<div class="topcoat-list__container scroller" style="top:70px;">
    <ul class="topcoat-list">
        <li class="topcoat-list__item">test item 1</li>
        <li class="topcoat-list__item">test item 2</li>
        <li class="topcoat-list__item">test item 3</li>
        <li class="topcoat-list__item">test item 4</li>
        <li class="topcoat-list__item">test item 5</li>
        <li class="topcoat-list__item">test item 6</li>
        <li class="topcoat-list__item">test item 7</li>
        <li class="topcoat-list__item">test item 8</li>
        <li class="topcoat-list__item">test item 9</li>
        <li class="topcoat-list__item">test item 10</li>
        <li class="topcoat-list__item">test item 11</li>
        <li class="topcoat-list__item">test item 12</li>
        <li class="topcoat-list__item">test item 13</li>
        <li class="topcoat-list__item">test item 14</li>
        <li class="topcoat-list__item">test item 15</li>
        <li class="topcoat-list__item">test item 16</li>

        <li class="topcoat-list__item">test item 1</li>
        <li class="topcoat-list__item">test item 2</li>
        <li class="topcoat-list__item">test item 3</li>
        <li class="topcoat-list__item">test item 4</li>
        <li class="topcoat-list__item">test item 5</li>
        <li class="topcoat-list__item">test item 6</li>
        <li class="topcoat-list__item">test item 7</li>
        <li class="topcoat-list__item">test item 8</li>
        <li class="topcoat-list__item">test item 9</li>
        <li class="topcoat-list__item">test item 10</li>
        <li class="topcoat-list__item">test item 11</li>
        <li class="topcoat-list__item">test item 12</li>
        <li class="topcoat-list__item">test item 13</li>
        <li class="topcoat-list__item">test item 14</li>
        <li class="topcoat-list__item">test item 15</li>
        <li class="topcoat-list__item">test item 16</li>
    </ul>
</div>
